<!DOCTYPE html>
<html>
  <head>
    <title>Chattermill SocialStudio Sign In</title>
    <meta name="description" content="Chattermill SocialStudio SignIn">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <!-- Hello Chattermill user, please click the link below to authorise us to connect to your SocialStudio account -->
    <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-6">
              <div class="alert-message alert-message-success">
                  <h4>
                      Thank you! 🙌</h4>
                  <p>
                      We will now be able to connect your SocialStudio to your Chattermill Account. We will let you know once the integration is ready.
                    </p>
                      <p><a href="https://chattermill.io">
                              Back to chattermill.io</a></p>
              </div>
            </div>
          </div>
          </div>
  </body>
</html>
